
p{
    display: inline-block;
}

#top,#middle,#bottom,#middle-left,#middle-right{
    border: 1px solid #333;
    margin:auto;
|
}
#top{
    height:3em;

    padding:0.5em 1em;
    margin: 2em 4em 0em 4em;

    background-color: #bbb;
    text-align: right;

}

#middle{
    height:30em;

    margin: 0em 4em 0em 4em;
}
#middle-left{
    height: 100%;
    background-color: #eee;
}

#middle-right{
    float:right;
    width: 70%;
    height: 100%;
}

#bottom{
    height:3em;

    background-color: #bbb;

    padding:0.5em 1em;
    margin: 0em 4em 2em 4em;
}

#mainTable{
    width:60%;
    border :1px solid #44b699;
    text-align: center;

    margin:2em;
}
#mainTable td{
    border: 1px solid #44b699;
}
#mainTable thead{
    background-color: #eee8d5;
}
#mainTable tbody{
    background-color: #eee;
}

ol,ul,li{
    line-height: 1.5em;
}
.admin{
    list-style-image: url("test8_assets/sup.png");
}
#dept{
    display: none;
}
#staff{
    display: none;
}
.add{
    list-style-image: url("test8_assets/add.png");
}
.del{
    list-style-image: url("test8_assets/del.png");
}
.mod{
    list-style-image:url("test8_assets/edit.png");
}

#cpw_page{
    width: 60%;
    border: 2px solid #44b699;
    margin: 2em;
    text-align: center;
    background: #b9e7ff;

    display: none;
    position: absolute;
}
