<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <!--Servlet名称-->
        <servlet-name>HelloWorld</servlet-name>
        <!--完整的类名-->
        <servlet-class>tests.part6_servlet.HelloWorld</servlet-class>
    </servlet>
    <servlet-mapping>
        <!--Servlet名称-->
        <servlet-name>HelloWorld</servlet-name>
        <!--对外访问的虚拟路径，以斜线开始-->
        <url-pattern>/tests/hello-world</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetDate</servlet-name>
        <servlet-class>tests.part6_servlet.GetDate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetDate</servlet-name>
        <url-pattern>/tests/get-date</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Test1</servlet-name>
        <servlet-class>tests.part6_servlet.Test1</servlet-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test1</servlet-name>
        <url-pattern>/tests/test1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>list-info</servlet-name>
        <servlet-class>examples.example1.ListInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>list-info</servlet-name>
        <url-pattern>/list-info</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>delete-info</servlet-name>
        <servlet-class>examples.example1.DeleteInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delete-info</servlet-name>
        <url-pattern>/delete-info</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>edit-info</servlet-name>
        <servlet-class>examples.example1.EditInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>edit-info</servlet-name>
        <url-pattern>/edit-info</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>modify-info</servlet-name>
        <servlet-class>examples.example1.ModifyInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>modify-info</servlet-name>
        <url-pattern>/modify-info</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>add-info</servlet-name>
        <servlet-class>examples.example1.AddInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>add-info</servlet-name>
        <url-pattern>/add-info</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>doTransfer</servlet-name>
        <servlet-class>tests.part6_servlet.DoTransfer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>doTransfer</servlet-name>
        <url-pattern>/tests/transfer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>batch</servlet-name>
        <servlet-class>tests.part6_servlet.TestBatch</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>batch</servlet-name>
        <url-pattern>/tests/batch</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>page</servlet-name>
        <servlet-class>tests.part6_servlet.TestPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>page</servlet-name>
        <url-pattern>/tests/page</url-pattern>
    </servlet-mapping>

    <!--首页列表-->
    <welcome-file-list>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>

