*{
    font-family: "微软雅黑", sans-serif;
    font-size:14px;
    color: #333;
}
body{
    background-color: #b9e7ff;
}


h1{
    font-size: 1.8em;
}
h2{
    font-size: 1.4em;
}
sup{
    font-style: italic;
    color:green;
}
a{
    color: #258fb8;
}


#panel{
    padding:1em 2em;
    background-color: #fff;
    margin: 4em 6em;
}

/*基本信息*/
#summary,
#introduce,
#reference{
    padding:1em 2em;
    border: 2px solid lightblue;
    margin: 1em 0.5em 1em 0.5em;
}

#cardImage{
    float:right;
    padding:4em 5em;
}
#info{
    border-spacing: 0;
    padding:1em 2em;
}
.infoTitle{
    color: #999;
    width: 4em;
    font-weight: bold;
    padding:0.25em 0.25em;
    border-bottom: 1px dashed darkgray;
}
.infoContent{
    color:#333;
    width: 13em;

    padding:0.25em 0.25em;
    border-bottom: 1px dashed darkgray;
}
#toc{
    border-spacing: 0;
    padding:1em 2em;
}
.tocTitle{
    padding: 0.5em 0.5em;
    width: 3.5em;
    font-weight: bold;
    border: 1px solid darkgray;
}
.tocContent{
    padding: 0.5em 1em;
    width: 11.5em;
    border: 1px solid darkgray;
}



hr{
    border-bottom: 1px solid #999;
}
#refTitle{
    font-family:"仿宋",serif;

    font-size: 1.4em;
    font-weight: bold;
    color: #555;
}

.ref{
    font-family:"仿宋",serif;
    color: #555;
}
.ref a{
    font-family:"仿宋",serif;
}

